02-workflow-orchestration/flows/08_test_gcp_service_account_token_test.yaml
id: 08_gcp_service_account_token_test
namespace: zoomcamp

description: |
  Minimal authentication test for Google Cloud. This flow verifies that
  Kestra can read the GCP service account secret and exchange it for an
  OAuth access token.

tasks:
  - id: get_access_token
    type: io.kestra.plugin.gcp.auth.OauthAccessToken
    projectId: "{{ kv('GCP_PROJECT_ID') }}"
    serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT') }}"

  - id: log_token_metadata
    type: io.kestra.plugin.core.log.Log
    message: |
      GCP OAuth token generated successfully.
      Expiration time: {{ outputs.get_access_token.accessToken.expirationTime }}
      Scopes: {{ outputs.get_access_token.accessToken.scopes }}
